[Unit]
Description=dddd dyndns
After=network.target docker.service
Requires=docker.service
Wants=dddd.timer

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker exec %n stop
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull tcarrio/dddd
ExecStart=/usr/bin/docker run --rm --name %n \
    tcarrio/dddd:0.2.4

[Install]
WantedBy=default.target